


@import url("http://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");

.navbar-fixed-left {
  width: 140px;
  position: fixed;
  border-radius: 0;
  height: 100%;
}

.Logo {
  text-align: center;
}

.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
}

img {
  max-height: 100%;
  max-width: 100%;
}

/*.mainView {
  position: fixed;
  height: 100%;
  overflow-y: scroll;
}*/

.pre-scrollable {
  max-height: 100%;
}

h3 {
  background-color: #565656;
  color: transparent;
  text-shadow: 0px 2px 3px rgba(255,255,255,0.3);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
}

.Tile {
  margin-top: 0;
  position: relative;
  border-style: dotted;
  border-radius: 5px;
  border-color: darkcyan;
  padding: 25px;
  margin: 2%;
  height: 400px;
  overflow-y: hidden;
}

.GiantBombTile {
  margin-top: 0;
  position: relative;
  border-style: dotted;
  border-radius: 5px;
  border-color: lightblue;
  padding: 25px;
  margin: 3%;
  height: 250px;
  overflow-y: hidden;
}

.TwitchTile {
  float: left;
  /*position: relative;*/
  border-style: dotted;
  border-radius: 5px;
  border-color: darkcyan;
  padding: 25px;
  margin: 2%;
  width: 90%;
  height: 100%;
  /*overflow-y: hidden;*/
}

.leftmostOfTile {
  float: left;
  height: 300px;
  margin-right: 10px;
  
}