


@import url("http://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");

.navbar-fixed-left {
  width: 140px;
  position: fixed;
  border-radius: 0;
  height: 100%;
  z-index: 100;
}

.Logo {
  text-align: center;
}

.Title {
  color: white;
}

.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
}

img {
  max-height: 100%;
  max-width: 100%;
}

/*.mainView {
  position: fixed;
  height: 100%;
  overflow-y: scroll;
}*/

.pre-scrollable {
  max-height: 100%;
}

h3 {
  background-color: #565656;
  color: transparent;
  text-shadow: 0px 2px 3px rgba(255,255,255,0.3);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
}

.Tile {
  margin-top: 0;
  position: relative;
  border-style: dotted;
  border-radius: 5px;
  border-color: darkcyan;
  padding: 25px;
  margin: 2%;
  height: 400px;
  overflow-y: hidden;
}

.YoutubeTile {
  float: left;
  /*position: relative;*/
  border-style: dotted;
  border-radius: 5px;
  border-color: darkcyan;
  padding: 25px;
  margin: 2%;
  height: 75vh;
  width: 45%;
  overflow-y: hidden;
}

.RedditTile {
  float: left;
  /*position: relative;*/
  border-style: dotted;
  border-radius: 5px;
  border-color: darkcyan;
  padding: 25px;
  margin: 2%;
  height: 75vh;
  width: 45%;
  overflow-y: hidden;
}

.GiantBombTile {
  margin-top: 0;
  position: relative;
  border-style: dotted;
  border-radius: 5px;
  border-color: darkcyan;
  padding: 25px;
  margin: 3%;
  height: 250px;
  overflow-y: hidden;
}

.TwitchTile {
  float: left;
  /*position: relative;*/
  border-style: dotted;
  border-radius: 5px;
  border-color: darkcyan;
  padding: 25px;
  margin: 2%;
  width: 90%;
  height: 100%;
  /*overflow-y: hidden;*/
}

.leftmostOfTile {
  float: left;
  height: 300px;
  margin-right: 10px;
  
}

.container {
  margin: 0 auto;
  padding: 20px;
  width: 80%;
  color: #333;
  font: italic small-caps bold 14px/22px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.contentTitle {
  text-align: center;
  font-size: 17px;
  -webkit-text-stroke: 1px black;
  padding: 2px;
  border-top: 4px solid #24325E;
  border-bottom: 4px solid #24325E;
}

.contentDescription {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.IGNTitle, .PolygonTitle {
  margin: 0 auto;
  display: block;
  text-align: center;
  font-size: 40px;
}

.exploreIcon {
  display: block;
  height: 150px; 
  width: 150px;
  margin: 20px auto;
}

/*Carousel CSS*/
.slick-prev:before, .slick-next:before {
  color: #337ab7 !important;
  font-style: normal !important;
}


/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 250px;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}
